In [1]:
import pandas as pd
import numpy as np

from pathlib import Path

ROOT = Path("..")
raw_parquet = ROOT / "data" / "raw" / "yellow_tripdata_2024-01.parquet"
zone_csv = ROOT / "data" / "raw" / "taxi_zone_lookup.csv"

df = pd.read_parquet(raw_parquet)
zones = pd.read_csv(zone_csv)

df.head(), zones.head()

(   VendorID tpep_pickup_datetime tpep_dropoff_datetime  passenger_count  \
 0         2  2024-01-01 00:57:55   2024-01-01 01:17:43              1.0
 1         1  2024-01-01 00:03:00   2024-01-01 00:09:36              1.0
 2         1  2024-01-01 00:17:06   2024-01-01 00:35:01              1.0
 3         1  2024-01-01 00:36:38   2024-01-01 00:44:56              1.0
 4         1  2024-01-01 00:46:51   2024-01-01 00:52:57              1.0

    trip_distance  RatecodeID store_and_fwd_flag  PULocationID  DOLocationID  \
 0           1.72         1.0                  N           186            79
 1           1.80         1.0                  N           140           236
 2           4.70         1.0                  N           236            79
 3           1.40         1.0                  N            79           211
 4           0.80         1.0                  N           211           148

    payment_type  fare_amount  extra  mta_tax  tip_amount  tolls_amount  \
 0             2         17.7    1.0      0.5        0.00           0.0
 1             1         10.0    3.5      0.5        3.75           0.0
 2             1         23.3    3.5      0.5        3.00           0.0
 3             1         10.0    3.5      0.5        2.00           0.0
 4             1          7.9    3.5      0.5        3.20           0.0

    improvement_surcharge  total_amount  congestion_surcharge  Airport_fee
 0                    1.0         22.70                   2.5          0.0
 1                    1.0         18.75                   2.5          0.0
 2                    1.0         31.30                   2.5          0.0
 3                    1.0         17.00                   2.5          0.0
 4                    1.0         16.10                   2.5          0.0  ,
    LocationID        Borough                     Zone service_zone
 0           1            EWR           Newark Airport          EWR
 1           2         Queens              Jamaica Bay    Boro Zone
 2           3          Bronx  Allerton/Pelham Gardens    Boro Zone
 3           4      Manhattan            Alphabet City  Yellow Zone
 4           5  Staten Island            Arden Heights    Boro Zone)

In [2]:
print("Rows, Cols:", df.shape)
df.info()

Rows, Cols: (2964624, 19)
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2964624 entries, 0 to 2964623
Data columns (total 19 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VendorID               int32
 1   tpep_pickup_datetime   datetime64[us]
 2   tpep_dropoff_datetime  datetime64[us]
 3   passenger_count        float64
 4   trip_distance          float64
 5   RatecodeID             float64
 6   store_and_fwd_flag     object
 7   PULocationID           int32
 8   DOLocationID           int32
 9   payment_type           int64
 10  fare_amount            float64
 11  extra                  float64
 12  mta_tax                float64
 13  tip_amount             float64
 14  tolls_amount           float64
 15  improvement_surcharge  float64
 16  total_amount           float64
 17  congestion_surcharge   float64
 18  Airport_fee            float64
dtypes: datetime64[us](2), float64(12), int32(3), int64(1), object(1)
memory usage: 395.8+ MB

In [3]:
missing = df.isna().mean().sort_values(ascending=False)
missing[missing > 0].head(20)

store_and_fwd_flag      0.047278
RatecodeID              0.047278
passenger_count         0.047278
Airport_fee             0.047278
congestion_surcharge    0.047278
dtype: float64

In [4]:
df.describe(include="all").T.head(30)

,count,unique,top,freq,mean,min,25%,50%,75%,max,std
VendorID,2964624.0,NaN,NaN,NaN,1.754204,1.0,2.0,2.0,2.0,6.0,0.43259
tpep_pickup_datetime,2964624,NaN,NaN,NaN,2024-01-17 00:46:36.431092,2002-12-31 22:59:39,2024-01-09 15:59:19.750000,2024-01-17 10:45:37.500000,2024-01-24 18:23:52.250000,2024-02-01 00:01:15,NaN
tpep_dropoff_datetime,2964624,NaN,NaN,NaN,2024-01-17 01:02:13.208130,2002-12-31 23:05:41,2024-01-09 16:16:23,2024-01-17 11:03:51.500000,2024-01-24 18:40:29,2024-02-02 13:56:52,NaN
passenger_count,2824462.0,NaN,NaN,NaN,1.339281,0.0,1.0,1.0,1.0,9.0,0.850282
trip_distance,2964624.0,NaN,NaN,NaN,3.652169,0.0,1.0,1.68,3.11,312722.3,225.462572
RatecodeID,2824462.0,NaN,NaN,NaN,2.069359,1.0,1.0,1.0,1.0,99.0,9.823219
store_and_fwd_flag,2824462,2,N,2813126,NaN,NaN,NaN,NaN,NaN,NaN,NaN
PULocationID,2964624.0,NaN,NaN,NaN,166.017884,1.0,132.0,162.0,234.0,265.0,63.623914
DOLocationID,2964624.0,NaN,NaN,NaN,165.116712,1.0,114.0,162.0,234.0,265.0,69.31535
payment_type,2964624.0,NaN,NaN,NaN,1.161271,0.0,1.0,1.0,1.0,4.0,0.580869
fare_amount,2964624.0,NaN,NaN,NaN,18.175062,-899.0,8.6,12.8,20.5,5000.0,18.949548
extra,2964624.0,NaN,NaN,NaN,1.451598,-7.5,0.0,1.0,2.5,14.25,1.804102
mta_tax,2964624.0,NaN,NaN,NaN,0.483382,-0.5,0.5,0.5,0.5,4.0,0.11776
tip_amount,2964624.0,NaN,NaN,NaN,3.33587,-80.0,1.0,2.7,4.12,428.0,3.896551
tolls_amount,2964624.0,NaN,NaN,NaN,0.527021,-80.0,0.0,0.0,0.0,115.92,2.12831
improvement_surcharge,2964624.0,NaN,NaN,NaN,0.975632,-1.0,1.0,1.0,1.0,1.0,0.218364
total_amount,2964624.0,NaN,NaN,NaN,26.801505,-900.0,15.38,20.1,28.56,5000.0,23.385577
congestion_surcharge,2824462.0,NaN,NaN,NaN,2.256122,-2.5,2.5,2.5,2.5,2.5,0.823275
Airport_fee,2824462.0,NaN,NaN,NaN,0.141161,-1.75,0.0,0.0,0.0,1.75,0.487624

In [5]:
# Identify pickup/dropoff datetime column names (TLC uses these names for yellow)
dt_cols = [c for c in df.columns if "datetime" in c.lower() or "pickup" in c.lower() or "dropoff" in c.lower()]
dt_cols

['tpep_pickup_datetime', 'tpep_dropoff_datetime']